<a href="https://colab.research.google.com/github/svetlanama/Data-Science-in-Finance-/blob/main/DSIF3_0_From_data_to_actionable_insights_EDA_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In this session, we will build on your knowledge from the previous class on data gathering and cleaning. Today, we will dive into exploratory data analysis (EDA) and its importance in the financial sector.
We will be using the LendingClub dataset and perform an exploratory data analysis to uncover actionable insights.


## Agenda:
1. Overview of exploratory data analysis
2. Summary statistics - Univariate analysis
3. Multivariate analysis
4. Enriching your data with feature engineering
5. Useful data visualisation techniques
6. Data standardisation & Normalisation
7. Pandas profiling: a great starting point for EDA
8. Assignment #1

Demo: Implementation in Python
------------------------------

### Set up

#### User-specified parameters

In [24]:
python_material_folder_name = "python-material"

#### Import libraries

In [25]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Check if in Google Colab environment
try:
    from google.colab import drive
    # Mount drive
    drive.mount('/content/drive')
    # Set up path to Python material parent folder
    path_python_material = rf"drive/MyDrive/{python_material_folder_name}"
        # If unsure, print current directory path by executing the following in a new cell:
        # !pwd
    IN_COLAB = True
except:
    IN_COLAB = False
    # If working locally on Jupyter Notebook, parent folder is one folder up (assuming you are using the folder structure shared at the beginning of the course)
    path_python_material = ".."

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


---

1\. Overview of data exploration
----------------------------------------
Once you have sourced the relevant data for your project, you need to become familiar with it to:
- Gain a better understanding of the data's structure and content.
- Discover patterns, trends, and relationships within the data.
- Extract actionable insights that can inform business decisions.  

In summary, this will help you assess how the data can be used to achieve your business objective.

---

2\. Summary statistics - Univariate analysis
----------------------------------------

Univariate analysis involves examining a single variable. Common techniques include calculating central tendency measures like mean, median, and mode.

- **Mean**: The average value
- **Median**: The middle value
- **Mode**: The most frequent value
- **Standard Deviation**: Measures the spread of the data
- **Percentiles**: Indicate the relative standing of a value in the dataset

### Why are they useful?
Summary statistics provide a quick overview of the data, allowing us to grasp the general trends and identify any anomalies or outliers.

### <span style="color:BLUE"> **>>> QUESTION:** </span>    
> *Where have we already encountered descriptive statistics and can you remember how to print some of them out for a pandas dataframe?*

### Data import

In [26]:
# Read data that was exported from previous session
df = pd.read_csv(f"{path_python_material}/data/2-intermediate/df_out_dsif2.csv")

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'drive/MyDrive/python-material/data/2-intermediate/df_out_dsif2.csv'

### Summary Statistics

In [ ]:
from scipy.stats import skew

# Calculating Summary Statistics
mean_loan = df['loan_amnt'].mean()
median_loan = df['loan_amnt'].median()
mode_loan = df['loan_amnt'].mode()[0]
std_loan = df['loan_amnt'].std()
percentiles_loan = df['loan_amnt'].quantile([0.25, 0.5, 0.75])
skewness_value = skew(df['loan_amnt'])

print(f"Mean Loan Amount: {mean_loan}")
print(f"Median Loan Amount: {median_loan}")
print(f"Mode Loan Amount: {mode_loan}")
print(f"Standard Deviation of Loan Amount: {std_loan}")
print(f"Loan Amount Percentiles: \n{percentiles_loan}")
print("Skewness:", skewness_value)

### <span style="color:BLUE"> **>>> EXERCISE:**</span>
> Create a function that takes as input a dataframe and a column name, and oututs the summary statistics as per the output created in the cell above (mean, median, mode, std deviation and 25th, 50th and 75th percentiles, skewness value.  

> Additionally, based on skewness value print the following:  
'Skewness = 0: Data is perfectly symmetric.'  
'Skewness > 0: Positive skew (right skew).'  
'Skewness < 0: Negative skew (left skew).'  

> Test the function on `loan_amnt` column first, then on `int_rate` column. What happens when you run it on `int_rate`, can you think of a way around it?

In [ ]:
# Step 1 - Create the function
def summary_statistics(#FUNCTION PARAMETERS HERE):
    """
    Takes as input a dataframe and a column name, and oututs the following summary statistics: mean, median, mode, std deviation and 25th, 50th and 75th percentiles, skewness value and assessment.
    """
    # YOUR CODE HERE

# Step 2 - Test on loan_amnt
# YOUR CODE HERE

# Step 3 - Test on int_rate
# YOUR CODE HERE

Hint: to improve format and limit number of decimal characters, try adopting the following syntax instead:
`mean_loan = ("%.2f" % df[col_name].mean())`

3\. Multivariate Analysis
----------------------------------------

Multivariate analysis involves examining relationships between two or more variables. This can help identify correlations and interactions within the data.

### Correlation
Correlation is a way to measure how strongly two things are related to each other. It's like asking: "When one thing changes, does the other thing change too? And if it does, how much?"

**Note**: correlation tells us about the strength and direction of a relationship between two variables (X and Y), but it doesn't give us the exact amount by which Y changes when X changes.

In [ ]:
# Correlation between Loan Amount and Interest Rate
correlation = df['loan_amnt'].corr(df['int_rate_clean'])
print(f"Correlation between Loan Amount and Interest Rate: {correlation}")

### <span style="color:BLUE"> **>>> EXERCISE:**  </span>
> Find the correlation between `loan_amnt` and a new column called `term_numeric` which is a numeric equivalent of the `term` column.

In [ ]:
df['term_numeric'] = # YOUR CODE HERE
print(f"Correlation between Loan Amount and Interest Rate: {# YOUR CODE HERE}")

### <span style="color:BLUE"> **>>> DISCUSSION:**  </span>
> What can we conclude?

4\. Enriching your data with feature engineering
-----------------------

### What is Feature Engineering?

Feature engineering is the process of using domain knowledge to create new features or modify existing ones to improve the performance of machine learning models.

### Why is it important?

Feature engineering can significantly enhance the predictive power of models by incorporating additional information or transforming existing data into more useful formats.

### Techniques

-   **Creating New Features**: e.g., debt-to-income ratio
-   **Transforming Existing Features**: e.g., log transformation
-   **Feature encoding**: e.g.: dummy encoding, label encoding

In [ ]:
print(*df.columns, sep=("\n"))

## Creating new features

In [ ]:
# Creating a new feature: debt-to-income ratio
df['debt_to_income'] = df['loan_amnt'] / df['annual_inc']
df[['id','loan_amnt', 'annual_inc', 'debt_to_income']].head(5)

### <span style="color:BLUE"> **>>> EXERCISE:**  </span>
> Let's create a new feature called `interest_per_loan_amnt`, which calculates the total interest paid throughout the course of the term based on interest rate, loan amount and term information.

In [ ]:
df['interest_per_loan_amnt'] = # YOUR CODE HERE

# Printing out results
df[['id','loan_amnt', 'int_rate_clean', 'term_numeric', 'interest_per_loan_amnt']].head()

## Transforming Existing Features
### Example: Log transformation
Log transformation is a technique used to handle skewed data. It involves applying the natural logarithm (or another logarithm) to the data to reduce skewness and stabilize variance.

**Why is this important?**
Skewed data can distort statistical analyses and machine learning models, leading to poor predictions. Log transformation can help normalize the data, making it more suitable for analysis.
Many financial variables, such as income or loan amounts, can have long-tailed distributions. By applying log transformations, we ensure that these features are better suited for linear models and improve the model’s performance.

In [ ]:
import matplotlib.pyplot as plt

# Log transformation
df['loan_amnt_log'] = np.log(df['loan_amnt'] + 1) # Adding +1 to avoid log(0)

# Plotting original and log-transformed data
plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
plt.hist(df['loan_amnt'], bins=10, color='blue', edgecolor='black')
plt.title('Original data')

plt.subplot(1, 2, 2)
plt.hist(df['loan_amnt_log'], bins=10, color='green', edgecolor='black')
plt.title('Log-transformed data')

plt.show()

print(f"Skewness before log transform: {skew(df['loan_amnt'])}")
print(f"Skewness after log transform: {skew(df['loan_amnt_log'])}")

## Feature encoding
**Categorical feature encoding** is a crucial step in preparing categorical data for use in machine learning models. Categorical data includes variables that represent discrete categories or groups, such as "loan grade," "employment status," or "credit rating." Unlike numerical data, these categories do not have an inherent order or scale that algorithms can directly interpret. Therefore, we need to convert these categories into a numerical format that can be utilized by machine learning models.

### Dummy Encoding (One-Hot Encoding)

**Dummy Encoding** (or One-Hot Encoding) converts each category of a categorical variable into a new binary column (0 or 1). Each column represents a category, with a value of `1` indicating the presence of that category in the observation, and `0` otherwise.

**Why is this important?**
Machine learning algorithms generally require numerical input. Without converting categorical data into numerical form, algorithms wouldn't be able to process the data, leading to errors.

By using dummy encoding, you preserve the distinct nature of each category without implying any order or rank between them. This is especially important for models like linear regression, where numerical values can suggest a relationship or order that does not actually exist.

In [ ]:
# One-hot encoding
df_dummies = pd.get_dummies(df['grade'], prefix='grade')
df_dummies.head()

### Label Encoding
Label Encoding assigns a unique integer to each category in the categorical variable. For example, a "loan grade" of 'A' might be encoded as `0`, 'B' as `1`, and so on.

**Why is this important?**: Label encoding is useful when the categorical variable is ordinal (i.e., there is a meaningful order or ranking to the categories). However, for non-ordinal data, it might imply an order that does not exist, potentially misleading the model.
This method is simple and works well when you need to convert a categorical variable with many levels into a numerical format quickly. However, be careful not to unintentionally introduce ordinal relationships when none exist.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Label encoding
le = LabelEncoder()
df['grade_encoded'] = le.fit_transform(df['grade'])
df[['grade', 'grade_encoded']].head()

5\. Useful data visualisation techniques
----------------------
### Why is Visualization Important?

Visualization helps in understanding data patterns and communicating findings effectively. Common visualization techniques include:

-   **Histograms**: To visualize distributions
-   **Box Plots**: To identify outliers
-   **Bar Plots**: To compare categories
-   **Pair Plots**: To explore relationships between pairs of variables
-   **Heatmaps**: To visualize correlations
-   **Violin Plots**: To combine density and summary statistics

Check out the [seaborn cheat sheet](https://www.datacamp.com/cheat-sheet/python-seaborn-cheat-sheet) for more info.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Histogram of Loan Amount
plt.figure(figsize=(8, 6))
sns.histplot(df['loan_amnt'], kde=True)
plt.title('Distribution of Loan Amount')
plt.show()

In [ ]:
# Box Plot of Interest Rate
plt.figure(figsize=(8, 6))
sns.boxplot(y=df['int_rate_clean'])
plt.title('Box Plot of Interest Rate',)
plt.show()

In [ ]:
# Select numeric columns only
df_numeric = df.select_dtypes(exclude="object")

# Heatmap of Correlations
plt.figure(figsize=(8, 6))
sns.heatmap(df_numeric.corr(), annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Heatmap')
plt.show()

Hard to read? Absolutely, this is because too many columns are selected. Let's try on a subset of columns:

In [ ]:
plt.figure(figsize=(8, 6))
sns.heatmap(df_numeric \
            .drop(columns=df_numeric.columns[10:]) \
            .corr(), annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
df_numeric.corr().head(2)

In [ ]:
# How to use or interpret?

df_to_iterate = df_numeric.corr()

# Iterate through each numeric column in the dataframe
for column in df_to_iterate.columns:
    # Sort the values in descending order and take the top 3
    top_3_values = df_to_iterate[column].nlargest(3)
    print(f"Top 3 values for column '{column}':\n{top_3_values}\n")

Key highlights:
- High correlation (red) is expected across the diagonal (unsurprisingly, features are correlated to themselves..)
- It is important to review features that are correlated and ask ourselves 2 key questions:  
    > a) Do we understand why they are, in other words is it expected?  
    > b) Do we think a feature may carry additional information to the features it shows high correlation with? If so, it may be worth retaining for modelling purposes, *however* we want to minimise the risk of multicollinearity, which poses a problem for some types of models.  

We will be talking about this in our modelling classes, so don't worry too much about it for now.

### <span style="color:BLUE"> **>>>EXERCISE:**  </span>
Looks like there may be some correlation between income and loan amount (expectedly, as higher income individuals are able to afford higher loan amounts).
    
Search the documentation of [seaborn](seaborn.com) and create a pair plot between those 2 features

In [ ]:
# YOUR CODE HERE

6\. Data standardisation & Normalisation
----------------------------------------

### Data standardization
Standardization involves transforming data so that it has a mean of zero and a standard deviation of one. This is particularly important for algorithms that assume data is normally distributed and those that are sensitive to the scale of data, such as:  
1\. **Gradient descent-based Algorithms:** Algorithms like linear regression, logistic regression, and neural networks.  
2\. **Distance-based Algorithms:** Algorithms such as K-nearest neighbors (KNN) and K-means clustering, which rely on distance metrics.

### Data normalization
Normalization scales data to a range of [0, 1] or [-1, 1]. It's crucial for:  
1\. **Ensuring Uniform Contribution:** Each feature contributes equally to the model.  
2\. **Neural Networks:** Where the range of input data can significantly impact the training process.  

Standardization is generally preferred when working with algorithms that assume normally distributed data or when features have different units and you need them to have zero mean and unit variance.  
Normalization is typically used when you need to scale features to a fixed range or when working with algorithms sensitive to the magnitude of input data.  

Let's take a look at the distribution of two numerical features: `loan_amnt` (loan amount) and `annual_inc` (annual income).

In [ ]:
from sklearn.preprocessing import StandardScaler

# Standardizing the data
scaler = StandardScaler()

df[['loan_amnt_std', 'annual_inc_std']] = scaler.fit_transform(df[['loan_amnt', 'annual_inc']])

# Plotting the distributions before standardization
plt.figure(figsize=(14, 6))
plt.subplot(1, 2, 1)
sns.histplot(df['loan_amnt'], bins=30, kde=True)
plt.title('Loan Amount Distribution (Before Standardization)')
plt.subplot(1, 2, 2)
sns.histplot(df['annual_inc'], bins=30, kde=True)
plt.title('Annual Income Distribution (Before Standardization)')
plt.tight_layout()
plt.show()


# Plotting the distributions after standardization
plt.figure(figsize=(14, 6))
plt.subplot(1, 2, 1)
sns.histplot(df['loan_amnt_std'], bins=30, kde=True)
plt.title('Loan Amount Distribution (After Standardization)')
plt.subplot(1, 2, 2)
sns.histplot(df['annual_inc_std'], bins=30, kde=True)
plt.title('Annual Income Distribution (After Standardization)')
plt.tight_layout()
plt.show()

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Normalizing the data
scaler = MinMaxScaler()

df[['loan_amnt_norm', 'annual_inc_norm']] = scaler.fit_transform(df[['loan_amnt', 'annual_inc']])

# Plotting the distributions after normalization
plt.figure(figsize=(14, 6))
plt.subplot(1, 2, 1)
sns.histplot(df['loan_amnt_norm'], bins=30, kde=True)
plt.title('Loan Amount Distribution (After Normalization)')
plt.subplot(1, 2, 2)
sns.histplot(df['annual_inc_norm'], bins=30, kde=True)
plt.title('Annual Income Distribution (After Normalization)')
plt.tight_layout()
plt.show()

### Use Cases in Lending

#### Credit Risk Analysis
Standardization and normalization can help improve the accuracy of credit risk models by ensuring that numerical features are on a similar scale, preventing any single feature from disproportionately influencing the model.

#### Fraud Detection
Standardizing and normalizing transaction amounts can help identify anomalies or unusual patterns that may indicate fraudulent activities.

7\. Pandas profiling: a great starting point for EDA
-------------

In [ ]:
df.head()

In [ ]:
# Sampling data for ease of processing (note: make sure the sample size is large enough to extrapolate from)
features = ['term', 'fico_range_high', 'fico_range_low', 'annual_inc', 'dti']
df_sampled = df[features].sample(100)

In [ ]:
from ydata_profiling import ProfileReport
report = ProfileReport(df_sampled, title= "Report")
report # Will take a few minutes to process

# report.to_file('../reports/dsif3-data-profiling.html') # To save as html

## Data export
Before moving to the last section on time series, let's export our data to the "intermediate" data folder.

In [ ]:
df.to_csv(f"{path_python_material}/data/2-intermediate/df_out_dsif3.csv"
                        , index = False)

8\. Assignment #1
-------------

Take your data cleaning and exploratory data analysis further and uncover **at least 2 additional actionable insights** as an outcome of EDA.
Tips:
- Feel free to drop or generate additional features in doing so.
- How can the business leverage the insights uncovered and how can the impact of your insight be measured?

**Submission:** Submit your notebook with the EDA and insights documented.

**Evaluation Criteria:**

-   Depth of analysis and insights derived.
-   Relevance and feasibility of the actionable insights.
-   Clarity and thoroughness of code and explanations.

Tips: don't be afraid to be creative, and go past what was covered in this session (e.g. additional plot types etc.)

Happy exploring!

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Check if in Google Colab environment
try:
    from google.colab import drive
    # Mount drive
    drive.mount('/content/drive')
    # Set up path to Python material parent folder
    path_python_material = rf"drive/MyDrive/{python_material_folder_name}"
        # If unsure, print current directory path by executing the following in a new cell:
        # !pwd
    IN_COLAB = True
except:
    IN_COLAB = False
    # If working locally on Jupyter Notebook, parent folder is one folder up (assuming you are using the folder structure shared at the beginning of the course)
    path_python_material = ".."

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
#### Example structure ####

# 1. Load data
#    > recommended to use output from above class
# Read data that was exported from previous session
print(path_python_material)
# df = pd.read_csv(f"{path_python_material}/data/2-intermediate/df_out_dsif2.csv")
df = pd.read_csv(f"drive/MyDrive/AI/PUBLIC_CSV/df_out_dsif2.csv")

df.head()
# 2. Data cleaning

# 3. Summary statistics

# 4. Feature engineering

# 5. Visualization
#    > check out seaborn documentation at link above

# 6. Insights and conclusions
#    > what actions is your insight driving
#    (could be data cleaning action, or a question/hypothesis for the business to test, etc.)

drive/MyDrive/python-material

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,hardship_status_filled,last_pymnt_amnt_log,last_pymnt_amnt_capped,loan_id_extracted,emp_title_clean,emp_title_manager,Job Title,Category
0,167338079,4000.0,4000.0,4000.0,36 months,13.08%,134.93,B,B5,cashier,10+ years,MORTGAGE,48000.0,Source Verified,Mar-2020,Current,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,Home improvement,115xx,NY,20.25,1.0,Dec-2004,665.0,669.0,0.0,19.0,110.0,4.0,1.0,1988.0,82.8%,12.0,w,3816.34,3816.34,266.950000,266.95,183.66,83.29,0.0,0.0,0.0,May-2020,134.93,Jun-2020,May-2020,669.0,665.0,1.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,3832.0,259024.0,0.0,1.0,0.0,1.0,16.0,9960.0,56.0,0.0,0.0,0.0,59.0,2400.0,1.0,0.0,0.0,1.0,64756.0,NaN,NaN,0.0,0.0,179.0,75.0,38.0,16.0,2.0,NaN,19.0,16.0,19.0,1.0,0.0,2.0,0.0,1.0,5.0,2.0,5.0,2.0,4.0,0.0,0.0,0.0,0.0,75.0,NaN,1.0,0.0,395328.0,11948.0,0.0,17928.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NO_HARDSHIP,4.912140,134.93,167338079,cashier,False,NaN,NaN
1,71016917,24000.0,24000.0,24000.0,60 months,9.16%,500.07,B,B2,ABM,6 years,RENT,57000.0,Source Verified,Feb-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,708xx,LA,25.33,0.0,Jan-2004,680.0,684.0,0.0,NaN,NaN,10.0,0.0,22697.0,64.5%,24.0,w,4333.29,4333.29,25496.160000,25496.16,19666.71,5829.45,0.0,0.0,0.0,May-2020,500.07,Jun-2020,May-2020,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,61815.0,0.0,3.0,0.0,3.0,14.0,39118.0,72.0,1.0,1.0,2137.0,67.0,35200.0,0.0,7.0,0.0,4.0,6182.0,7741.0,40.5,0.0,0.0,145.0,137.0,7.0,7.0,0.0,7.0,NaN,24.0,NaN,0.0,3.0,5.0,5.0,6.0,15.0,7.0,9.0,5.0,10.0,0.0,0.0,0.0,1.0,95.8,60.0,0.0,0.0,88154.0,61815.0,13000.0,52954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NO_HARDSHIP,6.216746,500.07,71016917,abm,False,NaN,NaN
2,39589826,5000.0,5000.0,5000.0,36 months,10.49%,162.49,B,B3,driver,10+ years,MORTGAGE,55000.0,Not Verified,Jan-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,347xx,FL,7.22,0.0,Apr-2010,665.0,669.0,0.0,NaN,61.0,7.0,1.0,6001.0,52.6%,9.0,f,0.00,0.00,5846.672836,5846.67,5000.00,846.67,0.0,0.0,0.0,Jan-2018,162.43,NaN,May-2020,789.0,785.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,159131.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11400.0,NaN,NaN,NaN,4.0,22733.0,4521.0,54.8,0.0,0.0,57.0,57.0,14.0,9.0,1.0,14.0,NaN,1.0,NaN,0.0,3.0,5.0,3.0,3.0,2.0,5.0,6.0,5.0,7.0,0.0,0.0,0.0,1.0,100.0,33.3,0.0,1.0,171118.0,13124.0,10000.0,7526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NO_HARDSHIP,5.096385,162.43,39589826,driver,False,NaN,NaN
3,134798709,24000.0,24000.0,24000.0,60 months,11.05%,522.42,B,B4,NaN,NaN,MORTGAGE,43500.0,Not Verified,Jun-2018,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,443xx,OH,24.55,0.0,Oct-2005,750.0,754.0,0.0,NaN,NaN,15.0,0.0,6573.0,12.1%,23.0,w,16317.69,16317.69,12000.930000,12000.93,7682.31,4318.62,0.0,0.0,0.0,May-2020,522.42,Jun-2020,May-2020,749.0,745.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,104590.0,2.0,1.0,0.0,1.0,17.0,11947.0,60.0,2.0,3.0,2223.0,25.0,54500.0,2.0,0.0,2.0,4.0,6973.0,43140.0,12.0,0.0,0.0,37.0,132.0,1.0,1.0,2.0,1.0,NaN,3.0,NaN,1.0,6.0,7.0,11.0,16.0,2.0,13.0,19.0,7.0,15.0,0.0,0.0,0.0,2.0,95.7,0.0,0.0,0.0,202606.0,18520.0,49000.0,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NO_HARDSHIP,6.260384,522.42,134798709,NaN,NaN,NaN,NaN
4,127097355,14000.0,14000.0,14000.0,60 months,13.59%,322.79,C,C2,Shipping Clerk,10+ years,MORTGAGE,48000.0,Source Verified,Jan-2018,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,681xx,NE,24.30,0.0,Apr-2008,735.0,739.0,1.0,NaN,NaN,16.0,0.0,11894.0,27.1%,23.0,w,0.00,0.00,16605.680000,16605.68,14000.00,2605.68,0.0,0.0,0.0,Jul-2019,11128.82,NaN,Feb-2020,779.0,775.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,90253.0,2.0,2.0,1.0,1.0,7.0,22953.0,60.0,3.0,4.0,3907.0,43.0,43900.0,1.0,0.0,2.0,5.0,5641.0,17318.0,39.9,0.0,0.0,72.0,117.0,6.0,6.0,2.0,6.0,NaN,5.0,NaN,0.0,4.0,5.0,5.0,6.0,5.0,13.0,16.0,5.0,16.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,152081.0,34847.0,28800.0,38181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NO_HARDSHIP,9.317383,11128.82,127097355,shipping clerk,False,NaN,NaN

# End of session

In [ ]:
from IPython.display import Image
Image(filename='../images/the-end.jpg', width=500,)